@charset "UTF-8";
.side-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 336px;
  height: 100%;
  z-index: 15;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}
@media (max-width: 767px) {
  .side-menu {
    transform: translateY(-445px);
    transition: ease-in-out 0.5s;
  }
  .side-menu:hover {
    transform: translateY(0px);
  }
}
.side-menu .container {
  height: 100%;
  width: 60%;
  position: relative;
  left: 22.5%;
  top: 30px;
}
@media (max-width: 767px) {
  .side-menu .container {
    width: 100%;
    height: 450px;
    left: 0px;
  }
}
.side-menu .container .profile-img {
  background: black url("../assets/profile-img.png") no-repeat center;
  background-size: contain;
  border-radius: 50%;
  margin: 0px auto;
  width: 150px;
  height: 150px;
  display: block;
}
.side-menu .container ul {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  color: grey;
}
.side-menu .container ul li {
  padding: 10px 0px;
}
.side-menu .container ul li :hover {
  color: #f06856;
  cursor: pointer;
}
.side-menu .container ul .current-page {
  color: #f06856;
}
.side-menu .container ul .page-link :hover:after, .side-menu .container ul .current-page :after {
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 0.5rem;
  padding-left: 3px;
  vertical-align: middle;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 3px;
  color: #f06856;
}
.side-menu .container ul .socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  width: 200px;
  margin: 10px 15px;
  color: #f06856;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .side-menu .container ul .socials {
    margin: 10px auto;
  }
}
.side-menu .container ul .socials li {
  padding: 10px 15px;
  transition: 0.2s ease-in-out;
}
.side-menu .container ul .socials li:hover {
  color: #d95c4c;
  transform: scale(1.1);
}

.cover-image .container a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 60%;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.6));
  width: 150px;
  align-self: center;
}
.cover-image .container a:hover {
  opacity: 85%;
}
.cover-image .container a button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background: transparent;
  color: black;
  text-decoration: none;
}
.cover-image .container a button :visited, .cover-image .container a button :link {
  text-decoration: none;
}
.cover-image .container a button i {
  padding-top: 10px;
  margin: auto auto;
  animation: hop 1s infinite;
}
@keyframes hop {
  0% {
    transform: translate3d(0px, 5px, 0px);
  }
  50% {
    transform: translate3d(0px, -5px, 0px);
  }
  100% {
    transform: translate3d(0px, 5px, 0px);
  }
}

.projects .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}
.projects .container .project {
  width: 30%;
  height: 300px;
  margin: 10px;
  background: #eee;
  border-bottom: solid 0px #f06856;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.projects .container .project:hover {
  transform: scale(1.05);
  border-bottom: solid 5px #f06856;
}
@media (max-width: 1260px) {
  .projects .container .project {
    width: 45%;
  }
}
@media (max-width: 992px) {
  .projects .container .project {
    width: 90%;
    height: 500px;
  }
}
.projects .container .project .img-container {
  overflow: hidden;
  position: relative;
  background: #eee url("../assets/img/placeholder.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 70%;
}
.projects .container .project h2 {
  font-size: 1.2rem;
  margin-left: 2rem;
}
.projects .container .project button {
  background: transparent;
  color: black;
  font-size: 0.8rem;
  padding-top: 0px;
}

.contact {
  margin: 0px auto;
}
.contact .container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .contact .container {
    flex-direction: column;
  }
}
.contact .container .contact-info {
  width: 400px;
  padding: 0px 47px 50px;
  line-height: 1.5rem;
}
.contact .container .contact-info h1 {
  color: #f06856;
}
.contact .container .contact-info h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #f06856;
}
@media (max-width: 1325px) {
  .contact .container .contact-info {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .contact .container .contact-info {
    text-align: center;
  }
}
.contact .container .contact-form {
  margin-right: 20px;
}
@media (max-width: 992px) {
  .contact .container .contact-form {
    margin: 0px 38px;
  }
}
.contact .container .contact-form form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px auto;
}
@media (max-width: 1325px) {
  .contact .container .contact-form form {
    flex-basis: 100%;
  }
}
.contact .container .contact-form form :nth-child(1) {
  flex-basis: 46.5%;
}
@media (max-width: 1325px) {
  .contact .container .contact-form form :nth-child(1) {
    flex-basis: 95.5%;
  }
}
.contact .container .contact-form form :nth-child(2) {
  flex-basis: 46.75%;
}
@media (max-width: 1325px) {
  .contact .container .contact-form form :nth-child(2) {
    flex-basis: 95.5%;
  }
}
.contact .container .contact-form form :nth-child(3) {
  flex-basis: 95.5%;
}
.contact .container .contact-form form :nth-child(4) {
  flex-basis: 95.5%;
}
.contact .container .contact-form form :nth-child(5) {
  flex-basis: 95.5%;
  height: 200px;
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background: white;
  resize: none;
}
.contact .container .contact-form form input[type=text] {
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background: white;
  font-size: 0.9rem;
}
.contact .container .contact-form form input[type=submit] {
  -webkit-appearance: none;
  display: inline-block;
  background: #f06856;
  border: none;
  padding: 1rem;
  margin: 10px;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact .container .contact-form form input[type=submit]:hover {
  background: #d95c4c;
}
@media (max-width: 992px) {
  .contact .container .contact-form form input[type=submit] {
    margin: 10px auto;
  }
}

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer .container button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background: transparent;
  color: black;
  text-decoration: none;
  opacity: 0.25;
}
.footer .container button i {
  padding-bottom: 10px;
  animation: hop 1s infinite;
  margin: auto auto;
}
.footer .container button :visited, .footer .container button :link {
  text-decoration: none;
}
.footer .container button:hover {
  opacity: 0.5;
}
.footer .container a {
  display: inline-flex;
  text-align: center;
  margin: 0px auto 30px auto;
}

body {
  height: 100%;
}

.bg-fix {
  height: 100%;
}

.secondary-wrapper {
  margin: 0px auto 0px 336px;
  padding: 50px 0px;
  background: rgba(200, 200, 200, 0.2) url(../assets/img/mountain.jpg);
  background-size: cover;
}
@media (max-width: 767px) {
  .secondary-wrapper {
    margin: 0px auto 0px auto;
  }
}

.box-section {
  width: 600px;
  margin: 20px auto;
  padding: 25px;
  background: #eee;
  border-radius: 2px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.2rem;
  border-bottom: solid #f06856 5px;
}
@media (max-width: 992px) {
  .box-section {
    width: 450px;
    line-height: 1.7rem;
  }
}
@media (max-width: 450px) {
  .box-section {
    width: 90%;
  }
}
.box-section h1 {
  color: #f06856;
}
.box-section a {
  opacity: 40%;
}
.box-section a:after {
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 0.5rem;
  padding-left: 3px;
  vertical-align: middle;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 0.75rem;
  position: relative;
  bottom: 2px;
}
.box-section a:hover {
  color: #f06856;
  opacity: 100%;
}

.placeholder {
  text-align: center;
}

.img-box {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: auto;
}
@media (max-width: 992px) {
  .img-box {
    margin-top: 40px;
  }
}
.img-box img {
  width: 400px;
  height: auto;
  max-height: 400px;
  min-height: 150px;
  max-width: 400px;
  min-width: 150px;
  border: solid 5px #eee;
  border-radius: 50%;
  transition: 0.7s cubic-bezier(0.72, -0.55, 0.23, 1.79);
}
@media (max-width: 992px) {
  .img-box img {
    width: 50%;
    height: 50%;
  }
}
.img-box img:hover {
  transform: rotate3d(0, 0, 1, 15deg) scale(1.1);
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.menu-toggle {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  visibility: hidden;
}
@media (max-width: 767px) {
  .menu-toggle {
    visibility: visible;
  }
}

#menu-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.menu-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #f06856;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  color: white;
}

.close-menu {
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 15;
  background: #f06856;
  visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.close-menu i {
  color: white;
  font-size: 1.5rem;
}

.side-menu:hover ~ .close-menu {
  visibility: visible;
}

.side-menu .container {
  width: 200px;
  height: 100%;
}
@media (max-width: 767px) {
  .side-menu .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .side-menu {
    width: 100%;
    height: 450px;
    left: 0px;
    background: white;
    border-bottom: solid 5px #f06856;
  }
}

.wrapper {
  width: 100%;
  padding-left: 336px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .wrapper {
    padding-left: 0px;
  }
}
.wrapper .cover-image .container {
  height: 100vh;
  padding: 500px auto;
  background: rgba(200, 200, 200, 0.2) url(../assets/img/mountain.jpg);
  background-size: cover;
  background-position: 0%;
  text-align: center;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper .cover-image .container p {
  margin: 0px auto auto;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.6));
  width: 80%;
}
.wrapper .cover-image .container h1 {
  margin: auto auto 20px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.6));
  width: 80%;
}
.wrapper .cover-image .container button {
  color: white;
}
.wrapper .projects .container {
  padding: 50px auto;
}
.wrapper .contact {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #eee;
  border-bottom: solid #f06856 5px;
  width: 100%;
}
.wrapper .contact .container {
  padding: 200px auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrapper .footer {
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

:link, :visited {
  color: inherit;
}

html {
  height: 100%;
}