@charset "UTF-8";
.side-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 336px;
  height: 100%;
  z-index: 15;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  background: white;
}
.side-menu .container {
  height: 100%;
  width: 60%;
  position: relative;
  left: 22.5%;
  top: 30px;
  /*
  @media (max-width: $media-s) {              // SMALL BREAKPOINT CHANGE
      // visibility: hidden;
      width: 100%;
      height: 450px;
      left: 0px;
  } */
}
.side-menu .container .profile-img {
  background: black url("../assets/profile-img.png") no-repeat center;
  background-size: contain;
  border-radius: 50%;
  margin: 0px auto;
  width: 150px;
  height: 150px;
  display: block;
}
.side-menu .container ul {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  color: grey;
}
.side-menu .container ul li {
  padding: 10px 0px;
}
.side-menu .container ul li :hover {
  color: #21d1b3;
  cursor: pointer;
}
.side-menu .container ul .current-page {
  color: #21d1b3;
}
.side-menu .container ul .page-link :hover:after, .side-menu .container ul .current-page :after {
  color: #21d1b3;
}
.side-menu .container ul .socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  width: 200px;
  margin: 10px 15px;
  color: #21d1b3;
  margin-left: 0px;
}
@media (max-width: 767px) {
  .side-menu .container ul .socials {
    margin: 10px auto;
  }
}
.side-menu .container ul .socials li {
  padding: 10px 15px;
  transition: 0.2s ease-in-out;
}
.side-menu .container ul .socials li:hover {
  color: #18a38c;
  transform: scale(1.1);
}
.side-menu .container ul span {
  opacity: 0.3;
  pointer-events: none;
}

@media (max-width: 450px) {
  .cover-image .container .intro-text {
    position: relative;
    top: -70px;
  }
}
.cover-image .container a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 60%;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.6));
  width: 150px;
  align-self: center;
  padding-bottom: 20px;
}
.cover-image .container a:hover, .cover-image .container a:focus {
  opacity: 85%;
  outline: none;
}
.cover-image .container a .scrollButton {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background: transparent;
  color: white;
  text-decoration: none;
}
.cover-image .container a .scrollButton :visited, .cover-image .container a .scrollButton :link {
  text-decoration: none;
}
.cover-image .container a .scrollButton i {
  padding-top: 10px;
  margin: auto auto;
  animation: hop 1s infinite;
}
@keyframes hop {
  0% {
    transform: translate3d(0px, 5px, 0px);
  }
  50% {
    transform: translate3d(0px, -5px, 0px);
  }
  100% {
    transform: translate3d(0px, 5px, 0px);
  }
}

.projects .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}
.projects .container .project {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 30%;
  height: 400px;
  margin: 10px;
  background: #eee;
  border-bottom: solid 0px #21d1b3;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  background: #eee url("../assets/img/placeholder.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.1);
}
.projects .container .project i {
  opacity: 0;
  font-size: 3.5rem;
  color: white;
  z-index: 11;
  padding: 20px;
  border: solid white 3px;
  border-radius: 50%;
  margin-top: -10px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 450px) {
  .projects .container .project i {
    transform: scale(0.8);
  }
}
.projects .container .project p {
  font-size: 1rem;
  color: white;
  z-index: 11;
  margin-top: 20px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
@media (max-width: 450px) {
  .projects .container .project p {
    font-size: 0.8rem;
    margin-top: 5px;
  }
}
.projects .container .project::after {
  content: " ";
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  background-color: black;
  position: absolute;
  top: 0;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.projects .container .project:hover {
  transform: scale(1.05);
  border-bottom: solid 5px #21d1b3;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}
.projects .container .project:hover .prjct-img {
  opacity: 0;
  transform: scale(1.05);
}
.projects .container .project:hover .prjct-mp4 {
  opacity: 1;
  transform: scale(1.05);
}
.projects .container .project:hover i {
  opacity: 0.8;
  font-size: 4rem;
  padding: 30px;
  border-width: 7px;
}
.projects .container .project:hover i:hover {
  opacity: 1;
}
.projects .container .project:hover p {
  opacity: 1;
}
.projects .container .project:hover::after {
  opacity: 0.3;
}
.projects .container .project:hover .prjct-text {
  transform: translateY(60px);
}
@media (max-width: 1260px) {
  .projects .container .project {
    width: 45%;
  }
}
@media (max-width: 992px) {
  .projects .container .project {
    width: 90%;
    height: 500px;
  }
}
@media (max-width: 450px) {
  .projects .container .project {
    height: 300px;
  }
}
.projects .container .project .prjct-mp4 {
  width: auto;
  height: 100%;
  position: absolute;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 0;
}
@media (max-width: 450px) {
  .projects .container .project .prjct-mp4 {
    width: auto;
    height: 100%;
  }
}
.projects .container .project .prjct-img {
  width: auto;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.projects .container .prjct-text {
  position: absolute;
  bottom: -15px;
  width: 100%;
  background: #21d1b3;
  z-index: 12;
  padding: 5px 0px 15px;
  transition: cubic-bezier(0.31, -0.54, 0.74, 1.55) 0.5s;
}
.projects .container .prjct-text h2 {
  font-size: 1.2rem;
  margin-left: 2rem;
  color: white;
}
.projects .container .prjct-text button {
  background: transparent;
  color: black;
  font-size: 1rem;
  padding-top: 0px;
  opacity: 0.3;
}
@media (max-width: 992px) {
  .projects .container .prjct-text {
    bottom: -105px;
  }
}
@media (max-width: 450px) {
  .projects .container .prjct-text {
    bottom: -20px;
  }
}
.projects .container .prjct-desc {
  position: absolute;
  bottom: 0px;
  max-width: 80%;
  text-align: center;
  line-height: 1.4rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 7.5px;
}
@media (max-width: 450px) {
  .projects .container .prjct-desc {
    display: none;
  }
}

.contact {
  margin: 0px auto;
}
.contact .container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1115px) {
  .contact .container {
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
}
.contact .container .contact-info {
  width: 600px;
  padding: 40px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 1.5rem;
  border-right: solid 2px rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.contact .container .contact-info h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #21d1b3;
}
@media (max-width: 450px) {
  .contact .container .contact-info h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
.contact .container .contact-info .c-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #21d1b3;
  overflow: auto;
}
.contact .container .contact-info .c-text:focus, .contact .container .contact-info .c-text:hover {
  outline: none;
  text-decoration: underline;
}
@media (max-width: 1115px) {
  .contact .container .contact-info .c-text {
    display: none;
  }
}
.contact .container .contact-info .c-button {
  padding: 15px;
  margin: 10px 10px 10px 0px;
  width: 190px;
  border-radius: 3px;
  background: #21d1b3;
  color: white;
  transition: ease-in-out 0.25s;
  display: none;
}
.contact .container .contact-info .c-button:hover {
  background: #18a38c;
}
.contact .container .contact-info .c-button i {
  padding-left: 10px;
}
@media (max-width: 1115px) {
  .contact .container .contact-info .c-button {
    display: block;
    align-self: center;
  }
}
@media (max-width: 1325px) {
  .contact .container .contact-info {
    width: 100%;
  }
}
@media (max-width: 1115px) {
  .contact .container .contact-info {
    text-align: center;
    margin-left: 0px;
    padding: 0px 40px;
    border: none;
  }
}
.contact .container .contact-form {
  margin-right: 50px;
}
@media (max-width: 1260px) {
  .contact .container .contact-form {
    margin: 0px 38px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 1260px) {
  .contact .container .contact-form {
    margin-right: 30px;
    width: 70%;
  }
}
.contact .container .contact-form form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px auto;
}
@media (max-width: 1260px) {
  .contact .container .contact-form form {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}
.contact .container .contact-form form .form-input {
  width: 100%;
  height: 60px;
  padding: 5px;
  position: relative;
  margin: 10px 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact .container .contact-form form .form-input label {
  width: 85px;
  color: #21d1b3;
  margin-right: 15px;
  text-align: right;
  margin-top: 5px;
  cursor: pointer;
  display: none;
}
.contact .container .contact-form form .form-input input, .contact .container .contact-form form .form-input textarea {
  -ms-flex: 2;
  flex-grow: 2;
  height: 50px;
  padding: 15px 15px;
  resize: none;
  outline: none;
  border: solid 2px transparent;
  border-radius: 3px;
  border-bottom-color: #21d1b3;
  transition: ease-in-out 0.25s;
}
.contact .container .contact-form form .form-input input:hover, .contact .container .contact-form form .form-input input:focus, .contact .container .contact-form form .form-input textarea:hover, .contact .container .contact-form form .form-input textarea:focus {
  outline: none;
  border: 2px solid #18a38c;
}
.contact .container .contact-form form .form-input textarea {
  height: 200px;
}
.contact .container .contact-form form .form-input i {
  position: absolute;
  right: 15px;
  bottom: 22px;
  visibility: hidden;
}
.contact .container .contact-form form .form-input small {
  position: absolute;
  bottom: -13px;
  right: 5px;
  color: #f53b26;
  visibility: hidden;
}
.contact .container .contact-form form .form-input:nth-child(1), .contact .container .contact-form form .form-input:nth-child(2) {
  width: auto;
  -ms-flex: 1;
  flex-grow: 1;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1260px) {
  .contact .container .contact-form form .form-input:nth-child(1), .contact .container .contact-form form .form-input:nth-child(2) {
    -ms-flex: 3;
    flex-grow: 3;
    width: 100%;
  }
}
.contact .container .contact-form form .form-input:nth-child(1) input, .contact .container .contact-form form .form-input:nth-child(2) input {
  width: 100%;
}
.contact .container .contact-form form .form-input:nth-child(1) .errorMsg, .contact .container .contact-form form .form-input:nth-child(2) .errorMsg {
  bottom: -13px;
  right: 5px;
}
.contact .container .contact-form form .form-input:nth-child(1) {
  margin-right: 20px;
}
@media (max-width: 1260px) {
  .contact .container .contact-form form .form-input:nth-child(1) {
    margin-right: 0px;
  }
}
.contact .container .contact-form form .form-input:nth-child(3), .contact .container .contact-form form .form-input:nth-child(4), .contact .container .contact-form form .form-input:nth-child(5) {
  -ms-flex: 3;
  flex-grow: 3;
}
.contact .container .contact-form form .form-input:nth-child(5) {
  height: 212.5px;
}
.contact .container .contact-form form input[type=submit] {
  -webkit-appearance: none;
  display: inline-block;
  background: #21d1b3;
  border: none;
  border: 2px solid transparent;
  padding: 1rem;
  width: 50%;
  margin: 15px 5px 0px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: ease-in-out 0.25s;
}
@media (max-width: 1260px) {
  .contact .container .contact-form form input[type=submit] {
    width: 100%;
  }
}
.contact .container .contact-form form input[type=submit]:hover, .contact .container .contact-form form input[type=submit]:focus {
  background: #18a38c;
  outline: none;
  border: 2px solid #18a38c;
}
.contact .container .contact-form form .form-input.success i.success {
  visibility: visible;
  color: #2ecc71;
}
.contact .container .contact-form form .form-input.success input, .contact .container .contact-form form .form-input.success textarea {
  border-color: #2ecc71;
}
.contact .container .contact-form form .form-input.error i.error {
  visibility: visible;
  color: #f53b26;
}
.contact .container .contact-form form .form-input.error small {
  visibility: visible;
}
.contact .container .contact-form form .form-input.error input, .contact .container .contact-form form .form-input.error textarea {
  border-color: #f53b26;
}

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  background: #4b4b4b;
  padding-top: 30px;
}
.footer .container .scrollButton {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background: transparent;
  color: white;
  text-decoration: none;
  opacity: 0.25;
}
.footer .container .scrollButton i {
  padding-bottom: 10px;
  animation: hop 1s infinite;
  margin: auto auto;
}
.footer .container .scrollButton :visited, .footer .container .scrollButton :link {
  text-decoration: none;
}
.footer .container .scrollButton:hover, .footer .container .scrollButton:focus {
  opacity: 0.5;
}
.footer .container a {
  display: inline-flex;
  text-align: center;
  margin: 0px auto 30px auto;
}
.footer .container a:focus {
  opacity: 0.5;
  outline: none;
}

.secondary-body {
  height: auto !important;
}

.secondary-wrapper {
  margin: 0px auto;
  padding: 50px 0px;
  background-image: linear-gradient(to top, white, rgba(33, 209, 179, 0.5) 40%), url(../assets/img/mountain.jpg);
  background-size: cover;
  transition: ease-in-out 0.25s;
  height: 100%;
}
@media (max-width: 767px) {
  .secondary-wrapper {
    margin: 0px auto 0px auto;
  }
}

.fh {
  height: auto !important;
}

@media (max-width: 450px) {
  .fh-mob {
    height: auto !important;
  }
}

.box-section {
  width: 600px;
  margin: 20px auto;
  padding: 25px;
  background: #eee;
  border-radius: 2px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.2rem;
  border-bottom: solid #21d1b3 5px;
}
@media (max-width: 992px) {
  .box-section {
    width: 450px;
    line-height: 1.7rem;
  }
}
@media (max-width: 450px) {
  .box-section {
    width: 90%;
  }
}
.box-section h1 {
  color: #21d1b3;
  line-height: 1.7rem;
}
.box-section h2 {
  color: #21d1b3;
}
.box-section a {
  opacity: 40%;
}
.box-section a:after {
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 0.5rem;
  padding-left: 3px;
  vertical-align: middle;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 0.75rem;
  position: relative;
  bottom: 2px;
}
.box-section a:hover {
  color: #21d1b3;
  opacity: 100%;
}

.placeholder {
  text-align: center;
}

.img-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: auto;
}
@media (max-width: 992px) {
  .img-box {
    margin-top: 40px;
  }
}
.img-box img {
  width: 400px;
  height: auto;
  max-height: 400px;
  min-height: 150px;
  max-width: 400px;
  min-width: 150px;
  border: solid 5px #eee;
  border-radius: 50%;
  transition: 0.7s cubic-bezier(0.72, -0.55, 0.23, 1.79);
}
@media (max-width: 992px) {
  .img-box img {
    width: 50%;
    height: 50%;
  }
}
.img-box img:hover {
  transform: rotate3d(0, 0, 1, 15deg) scale(1.1);
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/*
// CUSTOM CHECKBOX FOR MENU OPEN/CLOSE BUTTON 


.menu-toggle {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: hidden;



    @media (max-width: $media-s) {              //  SMALL BREAKPOINT CHANGE
        visibility: visible;
    }

    @media (max-width: $media-xs) {              //  SMALL BREAKPOINT CHANGE
        margin-top: -20px;
        padding-bottom: 15px;
    }

}

#menu-check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;

    background-color: $primary-colour;
    text-align: center; 
    padding-top: 10px;
    text-transform: uppercase;
    color: white;

    @media (max-width: $media-xs) {              //  SMALL BREAKPOINT CHANGE
        padding-bottom: 5px;
    }
}
*/
.menu-icon {
  position: absolute;
  right: -45px;
  top: -20px;
  font-size: 1.5em;
  opacity: 0;
  transition: ease-in-out 0.2s;
  color: white;
}

.side-menu.active .container .menu-icon {
  opacity: 0.2;
}

.side-menu {
  background: white;
  transition: ease-in-out 0.25s;
  /*
  @media (max-width: $media-s) {              // SMALL BREAKPOINT CHANGE
      // visibility: hidden;
      width: 100%;
      height: 450px;
      left: 0px;
      background: white;
      border-bottom: solid 5px $primary-colour;
  } */
}
.side-menu .container {
  width: 200px;
  height: 100%;
  /*
  @media (max-width: $media-s) {              // SMALL BREAKPOINT CHANGE
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  } */
}

.side-menu.active {
  transform: translateX(-285px);
  background: #262626;
}

.side-menu.active:hover {
  background: #666666;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  background: #4b4b4b;
  transition: ease-in-out 0.25s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .wrapper {
    padding-left: 0px;
  }
}
.wrapper .cover-image {
  overflow: hidden;
  z-index: 100;
}
.wrapper .cover-image .container {
  height: 100vh;
  padding: 500px auto;
  background-image: linear-gradient(to top, #4b4b4b, rgba(33, 209, 179, 0.5) 40%), url(../assets/img/mountain.jpg);
  background-size: cover;
  background-position: 0%;
  text-align: center;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper .cover-image .container p {
  margin: 0px auto auto;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.6));
  width: 80%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wrapper .cover-image .container p {
    margin: 0px auto 320px;
  }
}
@media (max-width: 450px) {
  .wrapper .cover-image .container p {
    font-size: 0.6rem;
  }
}
.wrapper .cover-image .container h1 {
  margin: auto auto 20px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.6));
  width: 80%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wrapper .cover-image .container h1 {
    margin: 450px auto 20px;
  }
}
@media (max-width: 450px) {
  .wrapper .cover-image .container h1 {
    font-size: 1.5rem;
  }
}
.wrapper .cover-image .container button {
  color: white;
}
.wrapper .projects .container {
  padding: 50px auto;
}
.wrapper .contact {
  margin-top: 10px;
  background: #eee;
  border-bottom: solid #21d1b3 5px;
  width: 100%;
}
.wrapper .contact .container {
  padding: 200px auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrapper .footer {
  width: 100%;
}

#pageContainer {
  height: 100%;
  margin: 0px auto 0px 336px;
  transition: ease-in-out 0.25s;
}
@media (max-width: 992px) {
  #pageContainer {
    margin: 0px auto 0px 50px;
  }
}

#pageContainer.active {
  margin: 0px auto 0px 50px;
}

#pageContainer::before {
  content: " ";
  position: fixed;
  width: 150%;
  height: 100%;
  background: #21d1b3;
  z-index: 14;
  transition: ease-in-out 0.3s;
  transform: translateX(-130%);
}

#pageContainer.in::before {
  transform: translateX(-30%);
}

#pageIndicator {
  color: #21d1b3;
  display: inline;
  font-size: 1.3rem;
  position: relative;
  left: 150px;
  top: 201px;
  width: 30px;
  height: 30px;
  transition: cubic-bezier(0.31, -0.54, 0.74, 1.55) 0.5s;
}
#pageIndicator i {
  transform: translateY(-3px);
}

@media (min-width: 1261px) and (max-width: 1325px) {
  #pageContainer:not(.active) .form-input:nth-child(1) {
    margin-right: 0px;
    width: 100%;
    -ms-flex: 3;
    flex-grow: 3;
  }
}
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

:link, :visited {
  color: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}