
//  overlay option
 
.animsition-overlay-slide {
  z-index: 1000;
  background-color: #f06856;

  // @media (max-width: $media-m ) {         // SMALL BREAKPOINT
  //   opacity: 0;                        // This is only because Animsition isn't working on iOS
  // }
}



// Menu Animation CSS

#pageContainer {
  height: 100%;
  margin: 0px auto 0px 336px;

  transition: ease-in-out .25s;
}

#pageContainer.active {
  margin: 0px auto 0px 50px;
}