
//  overlay option
 
// .animsition-overlay-slide {
//   z-index: 1000;
//   background-color: #f06856;

//   // @media (max-width: $media-m ) {         // SMALL BREAKPOINT
//   //   opacity: 0;                        // This is only because Animsition isn't working on iOS
//   // }
// }



// Menu Animation CSS

#pageContainer {
  // height: 100%;
  margin: 0px auto 0px 336px;

  transition: ease-in-out .25s;

  @media (max-width: $media-m) {              // MEDIUM BREAKPOINT CHANGE
    margin: 0px auto 0px 50px;
}
@media ( max-width: $media-xs ) {
  margin: 0px auto 0px 0px;
}
}

#pageContainer.active {
  margin: 0px auto 0px 50px;
  @media ( max-width: $media-xs ) {
    margin: 0px auto 0px 0px;
  }
}

// Page Transition CSS

#pageContainer::before {
  content: " ";
  position: fixed;
  width: 150%;
  height: 100%;
  background: $primary-colour;
  z-index: 14;
  transition: ease-in-out .3s;
  transform: translateX(-130%);

  @media ( max-width: $media-xs ) {
    z-index: 100;
  }
}

#pageContainer.in::before {
  transform: translateX(-30%);
}

// !! NEW !! Page Indicator for menu CSS

#pageIndicator {
  color: $primary-colour;
  display: inline;
  font-size: 1.3rem;
  position: relative;
  left: 150px;
  top: 201px;
  width: 30px;
  height: 30px;

  transition: cubic-bezier(.31,-0.54,.74,1.55) .5s;

  i {
    transform: translateY( -3px );
  }

}

@media ( min-width: 1261px ) and ( max-width: 1325px ) {
  #pageContainer:not(.active) .form-input:nth-child(1) {  // This fixes Form breaking when the side menu is open between 1261px & 1325px
    margin-right: 0px;
    width: 100%;
    @include flex-grow(3);
  }
}
