
.menu-icon {
    position: absolute;
    right: -45px;
    top: -20px;
    // top: 40vh;
    font-size: 1.5em;
    opacity: 0;
    transition: ease-in-out .2s;
    color: white;
}

.side-menu.active .container .menu-icon {
    opacity: 0.2;
}
.side-menu {
    background: white;
    transition: ease-in-out .25s;

    .container {
        width: 200px;
        height: 100%;

        /*
        @media (max-width: $media-s) {              // SMALL BREAKPOINT CHANGE
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        } */
    }

    /*
    @media (max-width: $media-s) {              // SMALL BREAKPOINT CHANGE
        // visibility: hidden;
        width: 100%;
        height: 450px;
        left: 0px;
        background: white;
        border-bottom: solid 5px $primary-colour;
    } */
}

.side-menu.active {
    transform: translateX(-285px);
    background: #262626;
}

.side-menu.active:hover {
    background: #666666;
    cursor: pointer;
}

.wrapper {

    width: 100%;
    // position: absolute;
    // left: 336px;
    // padding-left: 336px;

    transition: ease-in-out .25s;

    @include flexbox;
    @include flex-direction(column);

    @media (max-width: $media-s) {              // 1325px CUSTOM BREAKPOINT CHANGE
        padding-left: 0px;
    }

    .cover-image {
        overflow: hidden;
        z-index: 100;

        .container {
            height: 100vh;
            padding: 500px auto;

            background: rgba(200, 200, 200, 0.2) url(../assets/img/mountain.jpg);
            background-size: cover;
            background-position: 0%;
            text-align: center;
            color: white;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);

            p {
                margin: 0px auto auto;
                filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .6));
                width: 80%;

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { 
                    margin: 0px auto 320px;
                }        //IE11 specific media query

                @media (max-width: $media-xs) {
                    font-size: .6rem;
                }
            }

            h1 {
                margin: auto auto 20px;
                // color: $primary-colour;
                filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .6));
                width: 80%;

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { 
                    margin: 450px auto 20px;
                }        //IE11 specific media query

                @media (max-width: $media-xs) {
                    font-size: 1.5rem;
                }
            }

            button {
                color: white;
            }
            
        }
    }

    .projects {
        .container {
            padding: 50px auto;
            
        }
    }

    .contact {
        margin-top: 10px;
        // margin-bottom: 30px;
        background: $light-grey;
        border-bottom: solid $primary-colour 5px;
        width: 100%;

        .container {
            padding: 200px auto;
            margin-top: 50px;
            margin-bottom: 50px;

            
        }
    }

    .footer {
        width: 100%;
       
    }
}

// .wrapper.active {
//     padding-left: 50px;
// }
 