
//----------------  COLOUR VARIABLES -----------------------------------------------

$primary-colour: #f06856;
$light-grey: #eee;

//----------------------------------------------------------------------------------


.side-menu {                    // SIDE MENU STYLES

    position: fixed;
    left: 0px;
    top: 0px;

    width: 336px;
    height: 100%;
    z-index: 15;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, .6);

    .container {
        height: 100%;
        width: 60%;
        position: relative;
        left: 22.5%;
        top: 30px;

        .profile-img {
            background: black url("../assets/profile-img.png") no-repeat center;
            background-size: contain;
            border-radius: 50%;
            margin: 0px auto;
            width: 150px;
            height: 150px;
            display: block;
        }

        ul {
            list-style: none;
            padding-left: 0px;
            // margin-left: 12.5%;
            text-align: center;
            color: grey;

            li {
                padding: 10px 0px;

                :hover {
                    color: $primary-colour;
                    cursor: pointer;
                }
            }

            .page-link :hover:after {
                content: "\f054";
                position: absolute;
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                font-size: 0.5rem;
                padding-left: 3px;
                vertical-align: middle;
                font-weight: 900;
                margin-left: 10px;
                margin-top: 3px;
                
            }

            .socials {
                @include flexbox;
                @include flex-direction(row);
                @include justify-content(center);

                width: 200px;
                margin: 10px auto;
                color: $primary-colour;
                margin-left: 15px;

                li {
                    padding-right: 30px;
                }


            }
        }
    }
}
//------------------------------------------------------

.cover-image {                            // COVER IMAGE 
        .container {

                a {
                    @include flexbox;
                    @include justify-content (center);
                    opacity: 60%;
                    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .6));
                    width: 150px;
                    align-self: center;

                    &:hover {
                        opacity: 85%;
                    }

                button {
                    @include flexbox;
                    @include flex-direction(column);

                    background: transparent;
                    color: black;
                    text-decoration: none;

                    :visited, :link {
                        text-decoration: none;
                    }

                    i {
                        padding-top: 10px;
                        animation: hop 1s infinite;
                    }

                    @keyframes hop {                                            // THIS IS MY HOP ANIMATION 
                        0% { transform: translate3d(0px, 5px, 0px) }
                        50% { transform: translate3d(0px, -5px, 0px) }
                        100% { transform: translate3d(0px, 5px, 0px) }
                    }

                
            }
        }
    }
}
//------------------------------------------------------

.projects {                           // PROJECT SECTION 
    .container {
        @include flexbox;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(center);
        margin-top: 10px;

        .project {
            width: 30%;
            height: 300px;
            margin: 10px;
            background: $light-grey;

            @media (max-width: $media-l) {              // LARGE BREAKPOINT CHANGE 
                width: 45%;
            }

            @media (max-width: $media-m) {              // MEDIUM BREAKPOINT CHANGE
                width: 90%;
                height: 500px;   
            }

            .img-container {
                overflow: hidden;
                position: relative;
                background: $light-grey url("../assets/img/placeholder.jpg") no-repeat center;
                background-size: cover;
                width: 100%;
                height: 70%;
            }

            h2 {
                font-size: 1.2rem;
                margin-left: 2rem;
            }

            button {
                background: transparent;
                color: black;
                font-size: .8rem;
                padding-top: 0px;
            }
        }
    }
}
//------------------------------------------------------

.contact {                            // CONTACT SECTION
    margin: 0px auto;

    .container {
        width: 100%;

        @include flexbox;
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        @include justify-content(space-between);    

        @media (max-width: $media-m) {              // MEDIUM BREAKPOINT CHANGE
            flex-direction: column; 
        }


        .contact-info {
            width: 400px;
            padding: 0px 47px 50px;
            line-height: 1.5rem;

            h1 {
                color: $primary-colour;
            }

            h2 {
                font-size: 1.2rem;
                font-weight: 400;
                color: $primary-colour;
            }

            @media (max-width: 1325px) {              // 1325px CUSTOM BREAKPOINT CHANGE
                width: 100%; 
            }

            @media (max-width: $media-m) {              // MEDIUM BREAKPOINT CHANGE
                text-align: center; 
            }
            
        }

        .contact-form {
            margin-right: 20px;

            @media (max-width: $media-m) {              // MEDIUM BREAKPOINT CHANGE
                margin: 0px 38px;       
            }
        
            form {
                @include flexbox;
                @include flex-direction(row);
                @include flex-wrap(wrap);
                padding: 20px auto;

                @media (max-width: 1325px) {              // 1325px CUSTOM BREAKPOINT CHANGE
                    flex-basis: 100%; 
                }

                

                :nth-child(1) {
                    flex-basis: 46%;

                    @media (max-width: 1325px) {              // 1325px CUSTOM BREAKPOINT CHANGE
                        flex-basis: 95.5%; 
                    }
                }

                :nth-child(2) {
                    flex-basis: 46%;

                    @media (max-width: 1325px) {              // 1325px CUSTOM BREAKPOINT CHANGE
                        flex-basis: 95.5%; 
                    }
                }

                :nth-child(3) {
                    flex-basis: 95.5%;
                }

                :nth-child(4) {
                    flex-basis: 95.5%;
                }

                :nth-child(5) {
                    flex-basis: 95.5%;
                    height: 200px;
                    padding: 15px;
                    margin: 10px;

                    border: none;
                    border-radius: 4px;
                    background: white;
                    resize: none;           //This removes resize in bottom right
    ;
                }

                input[type="text"] {
                    padding: 15px;
                    margin: 10px;

                    border: none;
                    border-radius: 4px;
                    background: white;
                    font-size: .9rem;
                }

                input[type="submit"] {
                    display: inline-block;
                    background: $primary-colour;
                    // border: solid black 2px;
                    border: none;
                    padding: 1rem;
                    margin: 10px;
                    width: 150px;
                    border-radius: 4px;
                    cursor: pointer;

                    font-size: .9rem;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: .15rem;

                    @media (max-width: $media-m) {              // 1325px CUSTOM BREAKPOINT CHANGE
                        margin: 10px auto; 
                    }
                }


            }
        }
    }
}
//------------------------------------------------------

.footer {               // FOOTER 
    @include flexbox;
    @include justify-content(center);

    .container {

        button {
            @include flexbox;
            @include flex-direction(column);
            background: transparent;
            color: black;
            text-decoration: none;
            opacity: 0.25;

            i {
                padding-bottom: 10px;
                animation: hop 1s infinite;
            }

            :visited, :link {
                text-decoration: none;
            }

            &:hover {
                opacity: 0.5;
            }
        }
        
        a {
            display: inline-flex;
            text-align: center;
            margin: 0px auto 30px auto;
        }
    }
}

// BUTTON CLASS TO REMOVE DEFAULT STYLES  link: https://css-tricks.com/overriding-default-button-styles/

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}